.zcode/
site/
.venv/
spec/

# Python 字节码缓存 / 打包元数据
__pycache__/
*.pyc
*.egg-info/

# ROS2 colcon 工作空间构建产物
joyarm_code/joyarm_ros2_ws/build/
joyarm_code/joyarm_ros2_ws/install/
joyarm_code/joyarm_ros2_ws/log/

