<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot name="joyarm_dm">
  <!-- ================================================================= -->
  <!--                               arm                                 -->
  <!-- ================================================================= -->

  <!-- ============================ link_base =========================== -->
  <link name="link_base">
    <inertial>
      <origin xyz="-0.000007 -0.000030 0.045940" rpy="0 0 0" />
      <mass value="0.808" />
      <inertia ixx="0.001376929" ixy="0.000000066" ixz="-0.000000003" iyy="0.001095376" iyz="-0.000000538" izz="0.001367384" /></inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_base.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"  rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_base.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ link1 =========================== -->
  <link name="link1">
    <inertial>
      <origin xyz="0.006732 -0.002604 -0.030755" rpy="0 0 0" />
      <mass value="0.217" />
      <inertia ixx="0.000332437" ixy="0.000007515" ixz="-0.000052614" iyy="0.000237489" iyz="0.000017447" izz="0.000262793" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link1.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint1 =========================== -->
  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0.1402" rpy="0 0 0" />
    <parent link="link_base" />
    <child link="link1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.8" upper="2.8" effort="27" velocity="5" />
  </joint>

  <!-- ============================ link2 =========================== -->
  <link name="link2">
    <inertial>
      <origin xyz="0.133871 -0.001318 -0.001129" rpy="0 0 0" />
      <mass value="1.196" />
      <inertia ixx="0.000684690" ixy="-0.000003268" ixz="-0.000061685" iyy="0.017240403" iyz="0.000002921" izz="0.017039728" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
      <geometry>
        <mesh filename="../meshes/link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
      <geometry>
        <mesh filename="../meshes/link2.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint2 =========================== -->
  <joint name="joint2" type="revolute">
    <origin xyz="0.02 0 0" rpy="-1.570792653589793 0 3.1416" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="0" effort="27" velocity="5" />
  </joint>

  <!-- ============================ link3 =========================== -->
  <link name="link3">
    <inertial>
      <origin xyz="0.159621 -0.015443 0.000257" rpy="0 0 0" />
      <mass value="0.799" />
      <inertia ixx="0.000845656" ixy="-0.001092298" ixz="-0.000007172" iyy="0.008275845" iyz="0.000000031" izz="0.008302930" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link3.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint3 =========================== -->
  <joint name="joint3" type="revolute">
    <origin xyz="0.264 0 0" rpy="3.141592653589793 0 -2.9226" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="0" effort="27" velocity="5" />
  </joint>

  <!-- ============================ link4 =========================== -->
  <link name="link4">
    <inertial>
      <origin xyz="0.062723 -0.049703 -0.000784" rpy="0 0 0" />
      <mass value="0.473" />
      <inertia ixx="0.000417026" ixy="0.000234109" ixz="0.000014853" iyy="0.000645358" iyz="-0.000013317" izz="0.000707636" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link4.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint4 =========================== -->
  <joint name="joint4" type="revolute">
    <origin xyz="0.24854 0 0" rpy="0 -0.030795 0.21913" />
    <parent link="link3" />
    <child link="link4" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="7" velocity="20" />
  </joint>

  <!-- ============================ link5 =========================== -->
  <link name="link5">
    <inertial>
      <origin xyz="0.000770 0.001115 -0.003159" rpy="0 0 0" />
      <mass value="0.375" />
      <inertia ixx="0.000204066" ixy="-0.000000004" ixz="-0.000000037" iyy="0.000202394" iyz="-0.000005501" izz="0.000159540" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link5.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint5 =========================== -->
  <joint name="joint5" type="revolute">
    <origin xyz="0.078283 0.0024911 -0.0016418" rpy="1.571 1.54 -3.1416" />
    <parent link="link4" />
    <child link="link5" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="7" velocity="20" />
  </joint>

  <!-- ============================ link6 =========================== -->
  <link name="link6">
    <inertial>
      <origin xyz="0 0.000013 0.029727" rpy="0 0 0" />
      <mass value="0.070" />
      <inertia ixx="0.000021878" ixy="0" ixz="0" iyy="0.000017678" iyz="0.000000005" izz="0.000035131" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link6.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint6 =========================== -->
  <joint name="joint6" type="revolute">
    <origin xyz="0.00076939 -1.1537E-05 0" rpy="1.5707 0 0" />
    <parent link="link5" />
    <child link="link6" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="7" velocity="20" />
  </joint>

  <!-- ================================================================= -->
  <!--                         end:gripper                               -->
  <!-- ================================================================= -->

  <!-- ============================ link_end =========================== -->
  <link name="link_end">
    <inertial>
      <origin xyz="0.038762 0.000098 0.000004" rpy="0 0 0" />
      <mass value="0.432" />
      <inertia ixx="0.000444560" ixy="0.000001261" ixz="-0.000000026" iyy="0.000259681" iyz="-0.000000837" izz="0.000548240" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint_end =========================== -->
  <joint name="joint_end" type="fixed">
    <origin xyz="0 0 0.032692" rpy="1.5708 -1.5708 0" />
    <parent link="link6" />
    <child link="link_end" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- ============================ link_end1 =========================== -->
  <link name="link_end1">
    <inertial>
      <origin xyz="0.009666 0 -0.000005" rpy="0 0 0" />
      <mass value="0.023" />
      <inertia ixx="0.000001453" ixy="0" ixz="-0.000000004" iyy="0.000001700" iyz="0" izz="0.000001701" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end1.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint_end1 =========================== -->
  <joint name="joint_end1" type="revolute">
    <origin xyz="0.0485 0 0" rpy="0 0 0" />
    <parent link="link_end" />
    <child link="link_end1" />
    <axis xyz="1 0 0" />
    <limit lower="-5.49" upper="0" effort="7" velocity="20" />
  </joint>

  <!-- ============================ link_end_finger1 =========================== -->
  <link name="link_end_finger1">
    <inertial>
      <origin xyz="-0.005907 -0.011609 -0.002754" rpy="0 0 0" />
      <mass value="0.085" />
      <inertia ixx="0.000037044" ixy="0.000003980" ixz="-0.000003378" iyy="0.000024399" iyz="0.000005275" izz="0.000042504" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end_finger1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end_finger1.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint_end_pris1 =========================== -->
  <joint name="joint_end_pris1" type="prismatic">
    <origin xyz="0.0859 2.7531E-05 -1.3031E-05" rpy="0 0 0" />
    <parent link="link_end" />
    <child link="link_end_finger1" />
    <axis xyz="0 1 -0.00014746" />
    <limit lower="-0.04625" upper="0" effort="7" velocity="0.08" />
    <mimic joint="joint_end1" multiplier="0.00842" offset="0" />
  </joint>

  <!-- ============================ link_end_finger2 =========================== -->
  <link name="link_end_finger2">
    <inertial>
      <origin xyz="-0.005907 0.011609 0.002754" rpy="0 0 0" />
      <mass value="0.085" />
      <inertia ixx="0.000037044" ixy="-0.000003980" ixz="0.000003378" iyy="0.000024399" iyz="0.000005275" izz="0.000042504" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end_finger2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link_end_finger2.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ============================ joint_end_pris2 =========================== -->
  <joint name="joint_end_pris2" type="prismatic">
    <origin xyz="0.0859 -2.7531E-05 1.3031E-05" rpy="0 0 0" />
    <parent link="link_end" />
    <child link="link_end_finger2" />
    <axis xyz="0 -1 0.00014746" />
    <limit lower="-0.04625" upper="0" effort="7" velocity="0.08" />
    <mimic joint="joint_end1" multiplier="0.00842" offset="0" />
  </joint>

  <!-- ============================ frame_end_tcp =========================== -->
  <link name="frame_end_tcp" />
  <joint name="joint_frame_end_tcp" type="fixed">
    <origin xyz="0.12510 0 0" rpy="0 0 0" />
    <parent link="link_end" />
    <child link="frame_end_tcp" />
  </joint>

  <!-- ======================= frame_end_fingertip =========================== -->
  <link name="frame_end_fingertip" />
  <joint name="joint_frame_end_fingertip" type="fixed">
    <origin xyz="0.15071 0 -0.00001" rpy="0 0 0" />
    <parent link="link_end" />
    <child link="frame_end_fingertip" />
  </joint>
</robot>
